{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}
   <div class="content clear-fix">
    <div class="main-content">
    <br>
    <br>
        <div class="post">
             <img src="{{ article.article_cover.url }}" height="300px" width="90%" alt="CoolBrand">
            <div class="post-preview">
            <br>
                <h1 style="color: black">{{ article.article_title }}</h1>
                <i class="fa fa-user" style="color: black">{{ article.author_first_name }}</i>&nbsp;
                <i class="fa calendar" style="color: black">Mar 11 , 2019</i>
                <br>
                 {% if article.article_paragraph1  is not ''%}
                      <p class="article-paragraph">{{ article.article_paragraph1 }}</p>
                {% endif %}
            <br>
               {% if article.article_paragraph2 is not '' %}
                   <p class="article-paragraph">{{ article.article_paragraph2 }}</p>
               {% endif %}
            <br>
               {% if article.article_paragraph3 %}
                   <p class="article-paragraph">{{ article.article_paragraph4 }}</p>
               {% endif %}
            <br>
               {% if article.article_paragraph5 is not '' %}
                   <p class="article-paragraph">{{ article.article_paragraph6 }}</p>
               {% endif %}
            <br>
               {% if article.article_paragraph7 is not '' %}
                   <p class="article-paragraph">{{ article.article_paragraph7}}</p>
               {% endif %}

            </div>
        </div>
    </div>
    <div class="sidebar">
        <br>
        <br>
        <div class="section topics">
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li> <a href="{% url 'newsbycategory' pk=category.pk %}">{{ category.category_name }}</a></li>
                {% endfor %}
                <li> <a href="{% url 'news'  %}">All news</a></li>


            </ul>
        </div>
    </div>
    </div>




{% endblock %}