{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}
 <div id="stories" class="container-fluid  animated fadeInUp">
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <img src="{% static 'gallery/women11.jpg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/WOMENS VOICE ZIMBABWE LOGO - PNG-01.png' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women2.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women3.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women4.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women14.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women6.jpeg' %}"  class="img-fluid animated fadeInUp">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <img src="{% static 'gallery/woman8.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women12.jpg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women13.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women4.jpeg' %}"  class="img-fluid  animated fadeInUp">
    <img src="{% static 'gallery/woman9.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women3.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women12.jpg' %}"  class="img-fluid  animated fadeInUp">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <img src="{% static 'gallery/woman7.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women13.jpeg' %}"  class="img-fluid animated  fadeInUp">
    <img src="{% static 'gallery/woman8.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/woman9.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women4.jpeg' %}"  class="img-fluid animated  fadeInUp">
    <img src="{% static 'gallery/women2.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women10.jpg' %}"  class="img-fluid animated fadeInUp">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <img src="{% static 'gallery/women14.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women4.jpeg' %}"  class="img-fluid  animated fadeInUp">
    <img src="{% static 'gallery/women6.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women12.jpg' %}"  class="img-fluid  animated fadeInUp">
    <img src="{% static 'gallery/woman7.jpeg' %}"  class="img-fluid animated fadeInUp">
    <img src="{% static 'gallery/women3.jpeg' %}"  class="img-fluid animated  fadeInUp">
  </div>
</div>
</div>
{% endblock %}