{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="container-fluid animated slideInUp section-div" id="meet_the_team" >
<br>
    <br>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<div class="card" style="width: 300px;">
    <img src="{% static 'img/women11.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Tinashe Sango</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
    <div class="card" style="width: 300px;">
    <img src="{% static 'img/women6.jpeg' %}" class="card-img-top" alt="..."width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Gregory Nyembe</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>

  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><div class="card" style="width: 300px;">
    <img src="{% static 'img/women12.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Alice Moyo</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>
</div>
    <br>
    <br>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<div class="card" style="width: 300px;">
    <img src="{% static 'img/women11.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Tinashe Sango</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
    <div class="card" style="width: 300px;">
    <img src="{% static 'img/women6.jpeg' %}" class="card-img-top" alt="..."width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Gregory Nyembe</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>

  </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><div class="card" style="width: 300px;">
    <img src="{% static 'img/women12.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Alice Moyo</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>
</div>
    <br>
    <br>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<div class="card" style="width: 300px;">
    <img src="{% static 'img/women11.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Tinashe Sango</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
    <div class="card" style="width: 300px;">
    <img src="{% static 'img/women6.jpeg' %}" class="card-img-top" alt="..."width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Gregory Nyembe</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>

  </div>
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><div class="card" style="width: 300px;">
    <img src="{% static 'img/women12.jpg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title">Alice Moyo</h5>
        <p class="card-text">Communications director</p>
    </div>
</div>
  </div>

</div>
</div>
{% endblock %}