{% extends 'base.html' %}
{% load static %}
{% block title %}News{% endblock %}
{% block content %}
<br>
    <br>
    <br>
     <h1 class="second" style="font-weight: 700"> Trending</h1>
    <hr>
    <div class="container-fluid" style="height:  70vh;  padding-bottom: 2px">

      <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                 <button class="btn btn-default btn-lg btn-get-in-touch">Read more</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
    </div>
   <div class="content clear-fix">
    <div class="main-content">
     <h1 class="recent-post-title" style="color: black">Recent posts</h1>
        <div class="container-fluid news-list">
            <ul class="list-group list-group-flush ">
                {% for article in articles %}
                    <li class="list-group-item post">
                    <div class="post">
             <img src="{{ article.article_cover.url }}" alt="CoolBrand" style="width: 40%;
    height: 200px; " class="post-image">
            <div class="post-preview" >
            <h3>{{ article.article_title }}</h3>
               <i class="fa fa-user" style="color: black">{{ article.author_first_name }}</i>&nbsp;
                <i class="fa calendar" style="color: black">Mar 11 , 2019</i>
                <p class="preview-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>

                  <a href="#" class="btn btn-default btn-lg btn-get-in-touch" style="text-align: center" >Read more</a>

            </div>
        </div></li>
                {% endfor %}
            </ul>
         <div class="pagination"></div>
    </div>

        </div>
         <div class="sidebar">
     {% comment %}   <div  class="section search">
            <h2 class="section-title"> Search</h2>
            <form action="#" method="post">
                <input type="text" name="search-term" class="text-input" placeholder="Search.....">
            </form>
        </div>{% endcomment %}
        <div class="section topics">
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li> <a href="{% url 'newsbycategory' pk=category.pk %}">{{ category.category_name }}</a></li>
                {% endfor %}
                <li> <a href="{% url 'news'  %}">All news</a></li>

            </ul>
        </div>
    </div>
    </div>

    </div>
  {% endblock %}