{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="container-fluid animated slideInUp section-div" id="team" >


  <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card " style="width: 300px;" >
    <img src="{% static 'gallery/women4.jpeg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Online media campaigns</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card" style="width: 300px;" >
    <img src="{% static 'gallery/women4.jpeg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Documentaries</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card " style="width: 300px;" >

    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Media covarage</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
  </div>
<br>
  <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card " style="width: 300px;" >
    <img src="{% static 'gallery/women4.jpeg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Online media campaigns</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card" style="width: 300px;" >
    <img src="{% static 'gallery/women4.jpeg' %}" class="card-img-top" alt="..." width="100%" height="50%">
    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Documentaries</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="card service-card " style="width: 300px;" >

    <div class="card-body text-center">
        <h5 class="card-title paragraph" style="color: white">Media covarage</h5>
        <p class="card-text paragraph" style="color: white">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn  btn-get-in-touch ">Read more</a>
    </div>
</div>
    </div>
  </div>
</div>
{% endblock %}