.nav ul i .fa{
    transform: rotateY(360deg);
}
#aboutus{
    text-align: center;
}
p{
  text-align: justify;
}
.text-input{
    padding: 0.7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: black;;
    line-height: 1.5rem;
    font-size: 1.2em;

}

.btn-get-in-touch{
    background-color: maroon;
    color: white;
}
div{
  align-items: center;
}
 .form-container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px  0px 10px  0px maroon;
}
    #loginTopRow{
        height: 30%;
    }
    .img-circle {
    border-radius: 50%;
}
    .bg{
        background: white;
        background-size: 100%;
        width: 100%;
        height: 100%;

    }
.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}
 .navbar-nav a {
  color: maroon !important;
  font-weight: bold;
}
 .page-footer{
     background-color: maroon;
 }
 #wvz{

     font-family:  'Literata', Arial, "Helvetica Neue", Helvetica, sans-serif;
     color: maroon;
    font-weight: bold;

 }
 #team{

     font-family:  'Literata', Arial, "Helvetica Neue", Helvetica, sans-serif;
     color: maroon  !important;
    font-weight: bold;
     text-align: center;

 }
 .article-paragraph{
     color: black;
 }
 .circular_image {
  border-radius: 50%;
}

 .custombadge{
     background-color: maroon !important;;
     color: white !important;;
 }
.section-div{
    height: 100%;
    width:100%;
}
#services{
 background-image: url("../img/3.jpg");
    width: 100%;
    height: 100%;

}
.paragraph{
    color: black;
    text-align: center;
}
.services{
   color: white;
  text-align: center;
}
.servicebtn{
     background-color: Transparent;
    background-repeat:no-repeat;
    border:  2px solid maroon;
    color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
}
.service-card{
     background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border:  2px solid maroon;
}
#myCarousel{
    height: 100%;
     overflow-y: hidden;
    -webkit-transform: translateZ(0); -moz-transform: translateZ(0);
}
.carousel-inner {
    width: 100%;
    height: 100%;
   /* max-height: 500px !important;*/
}
#details{
    color: white;
    text-align: center;
}
#nxt-btn{
     background-color: maroon;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
      position: relative;
  float: right;
    color: white;
}

#heading{
    text-align: center;
}
hr {
width: 30%;
margin-left: auto;
margin-right: auto;
    background-color: maroon;
}

.carousel-caption{
    top: 50%;
transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.first{
    text-align: center ;
    color: maroon;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.second{
     text-align: center ;
    color: maroon;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.col-spaced {
     margin-left: 20px
}

.team{
    padding: 50px 0;
    height:100% ;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
}
.row .col-md-3 .imgBox{
    position: relative;
}
.row .col-md-3 .imgBox img{
    width: 100%;
    height: 300px;
    transition: 5s;

}
.row .col-md-3 {
    overflow: hidden;
    position: relative;
    min-height: 250px;
    box-sizing: border-box;
    float: left;
}

.row .col-md-3 .memberdetails{
    position: absolute;
    bottom: -85px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0, .9);
    width: 100%;
    transition: .5s;

}.row .col-md-3:hover .memberdetails{
    bottom: 0;
 }
.row .col-md-3 .memberdetails h3{
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}
.row .col-md-3 .memberdetails h3 span{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #f00;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: -6px;
}
.row .col-md-3 .memberdetails ul{
 margin: 0;
    padding: 0;
    float: right;
    display: flex;
}
.row .col-md-3 .memberdetails ul li{
    list-style: none;

}
.row .col-md-3 .memberdetails ul li a{
    padding: 0 10px;
    color: #fff;
}
.row .col-md-3 .memberdetails ul li a .fa{
    transition: .5s;
}
.row .col-md-3 .memberdetails ul li a:hover .fa{
    transform: rotateY(360deg);
    color: maroon;
}
.row .col-md-3:hover .imgBox{
 transform: scale(1.5);
    box-shadow: 5px 7px 9px -3px rgba(128, 0, 0, 1);
    cursor: pointer;
}
.team h2{
    text-align: center ;
    color: maroon;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}
.mgt50px{
    margin-top: 50px;
}
.row .column{
    margin: 0 10px;
    position: relative;
    width: 20%;
    min-height: 250px;
    float: left;
}
#videostab{
    color: maroon;
    font-weight: bold;
}
#storiestab{
    color: maroon;
    font-weight: bold;

}
/* Create four equal columns that sits next to each other
And also over write left & right padding with internal stylesheet for col*/
.row > div {
      padding: 0 4px !important;
}

img {
    margin-top: 8px;
    vertical-align: middle;

}



  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h3{
      font-weight: bold;
      color: black;
      text-align: center;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }



  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

   /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      }
  .pagination li{
      list-style: none;
      float: left;
      width: 20px;
      height: 20px;
      border: 1px solid maroon;
      background-color: white;
      color: maroon;
      text-align: center;
      cursor: pointer;

  }
  .news-list{
      min-height: 700px;
       border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 15px 0px 15px 0px;
    color: black;
    transition: all 0.3s
  }
  .pagination li:hover{
      background-color: white;
      border: 1px solid maroon;
      color: maroon;
  }
  .pagination ul{
      border: 0px;
      padding: 0px;
  }
  .services{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/static/img/image1.JPG");
      background-size: cover;
      background-position: center;
      color: #fff !important;
      height: 100%;
      width: 100%;
      margin: 90px auto;
      text-align: center;
  }
  .icon{
      font-size: 40px;
      margin: 20px auto;
      padding: 20px;
      height: 80px;
      width: 80px;
      border: 1px solid maroon;
      border-radius: 50%;
  }
 .services .col-md-3:hover{
      box-shadow: 5px 7px 9px -3px rgba(128, 0, 0, 1);
      cursor: pointer;
  }
 .post-slider{
     border: maroon;
 }
 .post-slider .post-wrapper{
     border: maroon dashed 1px;
     width: 84%;
     height: 350px;
     margin: 0px auto;
 }
  .post-slider .post-wrapper .post{
      background: maroon;
      display: inline-block;
      width: 300px;
      height: 350px;
      margin: 0px 10px;
  }
  /* Content */
.content{
    width: 90%;
    margin: 30px auto 30px;
    border: 1px solid maroon;
}
.content .main-content{
    width: 70%;
    float: left;


}
.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid maroon;
    color: white;
    background: maroon;
}
.content .main-content .post .post-preview i{
    color: #757575;
    font-size: 0.8em;
}

.content .main-content .post .article-summary{
    line-height: 1.5em;
    font-size: 1.03em;
    color: black;

}

.content .main-content .recent-post-title{
    margin: 20px;
}
.content .main-content .post{
    height: 270px;
    width: 95%;
    margin: 10px auto;
    background: white;
}
.content .main-content .post-image{
    width: 40%;
    height: 500px;
    float: left;
}
.sidebar{
    width: 30%;
    float: left;
    height: 300px;

}
.content .sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content .sidebar .section .section-title{
    margin: 10px 0px 10px 0px;
}
.content .sidebar .section.search{
    margin-top: 80px;


}
.content .sidebar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;

}
.content .sidebar .section.topics ul li a{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 15px 0px 15px 0px;
    color: black;
    transition: all 0.3s
}
.content .sidebar .section.topics ul li a:hover{
    padding-left: 20px;
    transition: all 0.3s;
    text-underline: none;
}
.clear-fix{
    content: '';
    display: block;
    clear: both;
}

